<%-include ('./layouts/header') -%>

<% if(user){ %>
<div class="profile_user">
   
  
   
   <div class="profile_avatar">
        <img class="profile_img" src="/../images/<%= user.avatar %>"/>
     <span><b> <%= user.name %> <a href="/users/profile/change_name" class="change_name"> <i class="fi fi-rr-edit"></i></a></b> <p>Giúp mọi người khám phá tài khoản của bạn bằng cách sử dụng tên mà bạn biết: tên đầy đủ, biệt hiệu hoặc tên doanh nghiệp của bạn.</p></span>
  
   </div>
     
    <p><b>Email: </b><%= user.email %><a class="change_info" href="/users/change_email">Thay đổi</a></p>
    <p><b>Số điện thoại: </b> <%= user.phone %><a class="change_info" href="/users/change_phone">Thay đổi</a></p>
    <p><b>Giới tính:</b>Nam</p>
    <% if(user.admin === 1){ %>
    <p><b>Phân quyền:</b>Quản trị viên</p>
    <% }else{ %>
        <p><b>Phân quyền: </b>Khách hàng</p>
    <% } %>
    <% if(checkChange) { %>
    <form method="post" action="/users/change_password">
        <input type="password" name="repassword">
        <button type="submit" class="change_password_button">Đổi mật khẩu</button>
    </form>
     <%- messages() %>
    <% } %>
</div>
<% } %>

<!-- END_HEADER -->
<!-- PAGE-SECTION-START -->

<!-- PAGE-SECTION-END -->


<!-- PAGE-SECTION-SERVICE-END -->


<!-- PORTFOLIO -->

<!-- <div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box ">
        <img src="images/1.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div>
<div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box ">
        <img src="images/2.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div>
<div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box">
        <img src="images/3.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div>
<div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box">
        <img src="images/4.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div>
<div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box">
        <img src="images/5.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div> -->

<!-- <div class="col-lg-4 col-md-6 g-0 my-5 mx-4 portfolio anim2">
    <a disabled="disabled" class="portfolio-box">
        <img src="images/6.jpg" alt="">
        <div class="portfolio-box-caption">
            <div class="project-category">Category</div>
            <div class="project-name">More detailed</div>
        </div>
    </a>
</div> -->

<!-- END PORTFOLIO -->

<!-- MODAL SLIDE -->
<!-- <div class="image-view">

</div>

<div class="image-box">
<div id="prev-btn"></div>
<div id="next-btn"></div>
</div> -->
<!-- MODAL SLIDE -->







<!-- PAGE-SECTION-START -->

<!-- PAGE-SECTION-END -->


<!-- PAGE-SECTION-FORM-START -->


<!-- PAGE-SECTION-FORM-END -->
<div class="on-top">
<div class="switch">
<i class="bi bi-caret-up"></i>

</div>
</div>




<!-- PAGE-SECTION-SERVICE-START -->



<%-include ('./layouts/footer') -%>